.gradle/
.idea/
**/build/
local.properties
*.iml
.kotlin/

Nukkad-source-new.zip

Nukkad-source-new.zip
.android-local/

Nukkad-source-new.zip
.android-local/

Nukkad-source-v0.6.zip
Nukkad-source-new.zip
.android-local/

*.zip
.android-local/
